* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans';
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f8e9dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  width: 343px;
  height: 534px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #ec775f;
  border-radius: 10px;
}

body .container .header .left .title {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

body .container .header .left .amount {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

body .container .header .bars-landscape {
  display: none;
}

body .container .header .right img {
  width: 60px;
  height: 40px;
  margin: 8px 4px 9px 0;
}

body .container .main {
  border-radius: 10px;
  background-color: #fffbf6;
  padding: 24px 20px;
}

body .container .main .title-main {
  font-weight: 700;
  font-size: 24px;
  color: #382314;
  margin-bottom: 52px;
}

body .container .main .bars-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 177px;
  margin-bottom: 24px;
}

body .container .main .bars-box .chart {
  position: relative;
}

body .container .main .bars-box .chart .black {
  position: absolute;
  left: -60%;
  top: -48px;
  height: 40px;
  width: 75px;
  color: #fff;
  background-color: #382314;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-radius: 5px;
  z-index: 10;
  display: none;
}

body .container .main .bars-box .chart .rectangle {
  width: 33px;
  height: 50px;
  background-color: #ec775f;
  margin-bottom: 11px;
  border-radius: 3px;
  cursor: pointer;
}

body .container .main .bars-box .chart .rectangle:hover {
  background-color: #ff9b86;
}

body .container .main .bars-box .chart .day {
  font-weight: 400;
  font-size: 12px;
  color: #92857a;
  text-align: center;
}

body .container .main .bars-box .chart .tue {
  height: 100px;
}

body .container .main .bars-box .chart .wed {
  height: 150px;
}

body .container .main .bars-box .chart .thu {
  height: 89px;
}

body .container .main .bars-box .chart .fri {
  height: 67px;
}

body .container .main .bars-box .chart .sat {
  height: 124px;
}

body .container .main .bars-box .chart .sun {
  height: 73px;
}

body .container .main .active {
  width: 40px;
}

body .container .main .hr {
  width: 303px;
  height: 2px;
  margin-bottom: 24px;
  background-color: #f8e9dd;
  border-radius: 1px;
}

body .container .main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .main .footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .main .footer .left .title-footer {
  font-weight: 400;
  font-size: 15px;
  color: #92857a;
}

body .container .main .footer .left span {
  color: #382314;
  font-weight: 700;
  font-size: 30px;
}

body .container .main .footer .right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

body .container .main .footer .right .percent {
  font-weight: 700;
  font-size: 15px;
  color: #382314;
}

body .container .main .footer .right .last {
  font-weight: 400;
  font-size: 15px;
  color: #92857a;
}

@media (min-width: 810px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  body .container {
    min-width: 540px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container .header {
    padding: 27px 32px;
    border-radius: 20px;
    margin-bottom: 24px;
  }
  body .container .header .left .title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  body .container .header .left .amount {
    font-size: 32px;
    color: #fff;
  }
  body .container .header .bars-landscape {
    display: none;
  }
  body .container .header .right img {
    width: 72px;
    height: 48px;
    margin: 12px 12px 11px 0;
  }
  body .container .main {
    border-radius: 20px;
    padding: 32px 40px 40px;
  }
  body .container .main .title-main {
    font-size: 32px;
    margin-bottom: 66px;
  }
  body .container .main .bars-box {
    height: 178px;
    margin-bottom: 32px;
  }
  body .container .main .bars-box .chart .black {
    left: -25%;
  }
  body .container .main .bars-box .chart .rectangle {
    width: 50.36px;
    background-color: #ec775f;
    margin-bottom: 11px;
    border-radius: 3px;
    cursor: pointer;
  }
  body .container .main .bars-box .chart .day {
    font-size: 15px;
  }
  body .container .main .bars-box .chart .wed {
    height: 150px;
  }
  body .container .main .hr {
    width: 460px;
    margin-bottom: 32px;
  }
  body .container .main .footer .left .title-footer {
    font-size: 18px;
  }
  body .container .main .footer .left span {
    font-size: 48px;
  }
  body .container .main .footer .right .percent {
    font-size: 18px;
  }
  body .container .main .footer .right .last {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */