
$DarkBrown: hsl(25, 47%, 15%);
$Mediumbrown: rgba(146, 133, 122, 1);
$LightBrown:rgba(248, 233, 221, 1);
$Cream: hsl(27, 66%, 92%);
$VerypaleOrange: hsl(33, 100%, 98%);
$SoftRed: hsl(10, 79%, 65%);
$RedHover: rgba(255, 155, 134, 1);
$Cyan: #76b5bc;
$Background: rgba(248, 233, 221, 1);
$PrimaryWhite: #fff;
$CardWhite:rgba(255, 251, 246, 1);

