@import './colors';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}
body{
    width: 100vw;
    height: 100vh;
    background-color: $Background;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 343px;
        height: 534px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: $SoftRed;
        border-radius: 10px;
        .left{
            .title{
                font-weight: 400;
                font-size: 15px;
                color: $PrimaryWhite;
            }
            .amount{
                font-weight: 700;
                font-size: 24px;
                color: $PrimaryWhite;
            }
        }
        .bars-landscape{
            display: none;
        }
        .right{
            img{
                width: 60px;
                height: 40px;
                margin: 8px 4px 9px 0;
            }
        }
    }
    .main{
        border-radius: 10px;
        background-color: $CardWhite;
        padding: 24px 20px;
        .title-main{
            font-weight: 700;
            font-size: 24px;
            color: $DarkBrown;
            margin-bottom: 52px;
        }
        .bars-box{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 177px;
            margin-bottom: 24px;
            .chart{
                position: relative;
                .black{
                    position: absolute;
                    left: -60%;
                    top: -48px;
                    height: 40px;
                    width: 75px;
                    color: $PrimaryWhite;
                    background-color: $DarkBrown;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                    border-radius: 5px;
                    z-index: 10;
                    display: none;
                }
                .rectangle{
                    width: 33px;
                    height: 50px;
                    background-color: $SoftRed;
                    margin-bottom: 11px;
                    border-radius: 3px;
                    cursor: pointer;
                    &:hover{
                        background-color: $RedHover;                  
                    }
                }
                .day{
                    font-weight: 400;
                    font-size: 12px;
                    color: $Mediumbrown;
                    text-align: center;
                }
                .tue{
                    height: 100px;
                }
                .wed{
                    height: 150px;
                }
                .thu{
                    height: 89px;
                }
                .fri{
                    height: 67px;
                }
                .sat{
                    height: 124px;
                }
                .sun{
                    height: 73px;
                }
              
            }
        }
        .hr{
            width: 303px;
            height: 2px;
            margin-bottom: 24px;
            background-color: $Background;
            border-radius: 1px;
        }
        .footer{
            display: flex;
            justify-content: space-between;
          .left{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .title-footer{
                font-weight: 400;
                font-size: 15px;
                color: $Mediumbrown;
            }
            span{
                color: $DarkBrown;
                font-weight: 700;
                font-size: 30px;
            }
          }
          .right{
              align-self: flex-end;
              display: flex;
              flex-direction: column;
              text-align: right;
              .percent{
                font-weight: 700;
                font-size: 15px;
                color: $DarkBrown
              }
              .last{
                font-weight: 400;
                font-size: 15px;
                color: $Mediumbrown;
              }
          }
        }
    }
    }

}
@import './medium';